
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#D3DDE6 ;
    padding: 15px 20px;
     z-index: 100;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

    .header-content {
        display: flex;
align-items: center;
justify-content: center;
width: 100%;
position: relative;
          
    }

     
        .header-logo {
    height: 50px;
    margin-right: 200px;
    position: absolute;
    left: 20px; 
    top: 0px; 
}

         .nav-links {
            display: flex;
            justify-content: center;
            align-items: center; 
            gap: 25px;
            padding-top: 18px;
        }

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
        position: relative;
    font-size: 18px;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
    width: 100%;
}





 body {
    background-color: #D3DDE6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

 .booking-container {
    max-width: 500px;
    margin: 150px auto;  
    padding: 35px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

 .booking-container h1 {
    text-align: center;
    color: #222;
    margin-bottom: 25px;
    font-size: 24px;
}

 .booking-container form {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.booking-container input,
.booking-container select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
}

.booking-container input:focus,
.booking-container select:focus {
    border-color: #1f2933;
}

 .booking-container button {
    width: 100%;
    padding: 13px;
    background: #1f2933;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 10px;
}

.booking-container button:hover {
    background: rgb(10, 62, 10);
}

 footer {
    margin-top: 60px;
}



/* footer */

/*footer which is down in the footer part of the page */
footer {
    background: #111;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}
        
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
        
.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}
        
.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}
        
.footer-links a:hover {
    color: #ccc;
}
        
.copyright {
    font-size: 14px;
    color: #888;
}
