body {
    background-color: #D3DDE6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.signup-box {
    max-width: 420px;
    margin: 150px auto;
    padding: 40px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.10);
    text-align: center;
}

.signup-box h2 {
    margin-bottom: 25px;
    color: #222;
    font-size: 22px;
    font-weight: bold;
}

.signup-box label {
    display: block;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 6px;
    color: #333;
    font-size: 14px;
}

.signup-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.signup-box input:focus {
    border-color: #1f2933;
}

.signup-box button {
    width: 100%;
    margin-top: 22px;
    padding: 12px;
    background: #1f2933;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.signup-box button:hover {
    background: rgb(10, 62, 10);
}

.signup-box p {
    margin-top: 18px;
    font-size: 14px;
}

.signup-box p a {
    color: #1f2933;
    font-weight: bold;
    text-decoration: none;
}

.signup-box p a:hover {
    text-decoration: underline;
}


/* Back to home link */
.back-home {
    display: block;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}


.back-home:hover {
    text-decoration: underline;
}
