<html>
    <head>
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <title>

        </title>
    </head>
    <body>
            <div id="main-content">
       
        <header>
            <div class="header-content">
                <!-- logo -->
                <a href="#top"><img src="{{ url_for('static', filename='image/logo.png') }}" alt="Website Logo" class="header-logo"></a> 
                
               
                
                <div class="nav-links">
                    <a href="/booking">Booking</a>
                    <a href="/admin_login">Admin Page</a>
                    <a href="/signup">Signup</a>
                    <a href="/login">Login</a>
                
                    <a href="/about">About</a>
                </div>
                
            </div>
        </header>

        
        <main>
           

            <!-- forst container-->
            <div class="first-container">
                <div class="first-slideshow">
                    <div class="first-slide">
    <div class="first-overlayout"></div>
                        <div class="first-content">
                            <h1>Double Room</h1>
                            <p>When a young boy vanishes, a small town uncovers a mystery involving secret experiments, terrifying supernatural forces, and a strange little girl.</p>
                            
                        </div>
                    </div>
                    <div class="first-slide">
                        <div class="first-overlayout"></div>
                        <div class="first-content">
                            <h1>Twin Room</h1>
                            <p>When reality cracks, a quiet town spirals into chaos hidden experiments, eerie forces, and a girl with dangerous powers. What they uncover was never meant to be found.</p>
                        </div>
                    </div>
                    <div class="first-slide">
                        <div class="first-overlayout"></div>
                        <div class="first-content">
                            <h1>Family Room</h1>
                            <p>After a teen girl takes her own life, a classmate receives a box of tapes revealing the heartbreaking secrets and the people she blames. Each tape uncovers a new truth, and no one is innocent.</p>
                            
                        </div>
                    </div>
                    <div class="first-slide">
                        <div class="first-overlayout"></div>
                        <div class="first-content">
                            <h1>Delux Room</h1>
                            <p>A zombie virus breaks out in a high school, trapping students in a deadly fight for survival. Friendships are tested, chaos erupts, and every hallway could be your last.</p>
                            
                        </div>
                    </div>
                </div>
                
                <!-- small navigation button < > -->
                <div class="first-slider-nav">
                    <button class="slider-nav-button" id="firstPrevBtn">❮</button>
                    <button class="slider-nav-button" id="firstNextBtn">❯</button>
                </div>

                <!--dots container-->
                <div class="first-dots-container" id="firstDotsContainer"></div>
            </div>

            <!-- 3 Small containers -->
            <div class="container-3small">
                <div class="small-categories">
                    <!-- documenty Category -->
                    <div class="small-box">
                        <img src="{{ url_for('static', filename='image/documentry.jpg') }}"  class="small-image">
                        <div class="small-label">DOCUMENTRY</div>
                    </div>
                    
                    <!-- movie Category -->
                    <div class="small-box">
                        <img src="{{ url_for('static', filename='image/music.jpg') }}"  class="small-image">
                        <div class="small-label">Music <br>Album</div>
                    </div>
                    
                    <!-- web-series Category -->
                    <div class="small-box">
                        <img src="{{ url_for('static', filename='image/webseries.jpg') }}"  class="small-image">
                        <div class="small-label">Web-series</div>
                    </div>
                </div>
            </div>

            <!-- second container -->
            <div class="second-slider-container">
                <div class="second-slider">
                    <div class="second-slide">
                        <video autoplay muted loop playsinline>
                            
                            <source src="{{url_for('static', filename='video/breakingbad.mov')}}" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                        <button class="image-name">Breaking Bad</button>
                        <div class="image-description">A high school chemistry teacher turned meth kingpin descends into the criminal underworld, transforming into one of television's most iconic anti-heroes in a gripping tale of morality, power, and survival.</div>
                    </div>
                    <div class="second-slide">
                        <video autoplay muted loop playsinline>
                            
                            <source src="{{url_for('static', filename='video/ozark.mov')}}" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                        <button class="image-name">Ozark</button>
                        <div class="image-description">A high school chemistry teacher turned meth kingpin descends into the criminal underworld, risking everything to secure his family's future—no matter the cost.</div>
                    </div>
                    <div class="second-slide">
                        <video autoplay muted loop playsinline>
                            
                            <source src="{{url_for('static', filename='video/eotfw.mov')}}" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                        <button class="image-name">End Of The F*ing World</button>
                        <div class="image-description">A darkly comedic and twisted coming-of-age story about a self-proclaimed psychopath and a rebellious teen who embark on a wild, dangerous road trip that changes everything.</div>
                    </div>
                </div>
                <div class="second-slider-nav">
                    <button id="secondPrevBtn">❮</button>
                    <button id="secondNextBtn">❯</button>
                </div>
            </div>
        </main>
        
        <footer>
            <div class="footer-content">
                <div class="footer-links">
                    <a href="/aboutus">About Us</a>
                    <a href="/contactus">Contact Us</a>
                </div>
                <div class="copyright">
                    &copy; 2023 TheAirmanHotel. All rights reserved.
                </div>
            </div>
        </footer>
    </div>

   <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    </body>
</html>

