<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h2>Create Account</h2>

    <form action="/signup" method="POST">
               <!-- email -->
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        
        <!-- Username or Email -->
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <!-- Password -->
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <!-- Confirm Password -->
        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>

        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>
